/*-----------------------FONTS-----------------------*/

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum Regular"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("Cuprum Bold"), url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("Coprum Bold Italic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/*-----------------------VARIABLES-----------------------*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-darkblue: #32425c;
  --basic-red: #ee3643;
  --basic-grey: #a9a9a9;
  --basic-greylight: #c5c5c5;
  --basic-white-blue: #f1f5f7;

  --border-grey-card: #eaeaea;
  --border-grey-button: #e5e5e5;

  --button-green: #63a63e;
  --button-green-shadow: #367315;

  --footer-address: #f3f7f9;
  --footer-yellow: #ffd180;

  --background-dark: #293449;
  --background-beige: #f9f5f0;
  --background-light-blue: #f2f6f8;
  --background-materials: #ffbf47;
  --background-instrument: #3bbce3;
  --background-facilities: #dc91d8;
  --background-discounts: #8ed78f;
  --background-delivery: #ffc047;
  --background-filter: #f7f3ec;

  --background-modal-beige: #f4f4f4;
  --background-modal-grey: #f1f1f1;

  --hover-basic-grey: #3d546f;
  --hover-red: #ca2c37;
  --hover-green: #5fbb2d;

  --active-dark: #161d29;
  --active-red: #ba2732;
  --active-green: #518534;
  --active-nav: #1d2739;
}

/*-----------------------GLOBAL-----------------------*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*-----------------------CONTAINER-----------------------*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*-----------------------HEADER-----------------------*/

.main-header {
  background-color: var(--basic-white-blue);
}

.header-narrow-background {
  background-color: var(--background-dark);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.search {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  color: var(--basic-black);
  border: none;
}

.search::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search::-moz-placeholder {
  color: var(--basic-white);
}

.search::-ms-input-placeholder {
  color: var(--basic-white);
}

.search-button {
  border: none;
  color: transparent;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  opacity: 0.5;
  vertical-align: middle;
}

.menu-list {
  list-style: none;
}

.menu-button {
  padding: 9px 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
  line-height: inherit;
  color: var(--basic-white);
  text-align: center;
}

.menu-button-checkout {
  background-color: var(--button-green);
}

.menu-button-bookmarker::before {
  content: "";
  height: 16px;
  width: 14px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  opacity: 0.3;
  vertical-align: middle;
  margin-right: 9px;
  margin-bottom: 4px;
}

.menu-button-cart::before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  opacity: 0.3;
  vertical-align: middle;
  margin-right: 9px;
  margin-bottom: 4px;
}

.search-button:hover,
.menu-button-bookmarker:hover::before,
.menu-button-cart:hover::before {
  opacity: 1;
}

.menu-button-checkout:hover {
  background-color: var(--hover-green);
}

.header-logo:active {
  background-color: var(--active-red);
}

.menu-button-bookmarker:active,
.menu-button-cart:active {
  background-color: var(--active-dark);
  color: rgba(255, 255, 255, 0.5);
}

.menu-button-bookmarker:active::before,
.menu-button-cart:active::before {
  opacity: 0.5;
}

.menu-button-checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.search:focus {
  background-color: var(--basic-white);
}

.site-desc {
  font-family: inherit;
  font-weight: inherit;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-phone-border {
  border: 3px solid var(--basic-white);
}

.header-phone {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
}

.header-phone::before {
  content: "";
  width: 18px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  margin-bottom: 4px;
}

.header-address {
  color: var(--basic-darkblue);
}

.authorization-list {
  list-style: none;
}

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.sign-in-button::before {
  content: "";
  height: 17px;
  width: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3.5px;
}

.visitor-name-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.visitor-name-button::before {
  content: "";
  height: 18px;
  width: 20px;
  background-image: url("../img/icon-user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 5px;
}

.visitor-name-button::after {
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-bottom: 5px;
}

.visitor-buttons-list {
  list-style: none;
}

.visitor-page-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.authorization-button:hover,
.visitor-page-button:hover {
  color: var(--basic-red);
}

.authorization-button:active,
.visitor-page-button:active,
.visitor-name-button:active {
  color: var(--basic-greylight);
}

.header-nav-list {
  background-color: var(--basic-darkblue);
  list-style: none;
}

.header-nav-link {
  color: var(--basic-white);
  font-size: 18px;
}

.header-nav-link:hover {
  background-color: var(--background-dark);
}

.header-nav-link:active {
  background-color: var(--active-nav);
  color: rgba(255, 255, 255, 0.5);
}

/*-----------------------CATEGORIES-----------------------*/

.materials-block {
  background-color: var(--background-materials);
}

.instrument-block {
  background-color: var(--background-instrument);
}

.facilities-block {
  background-color: var(--background-facilities);
}

.discounts-block {
  background-color: var(--background-discounts);
}

.delivery-block {
  background-color: var(--background-delivery);
}

.category-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.category-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.category-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.category-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.catalog-radio-list {
  list-style: none;
}

.catalog-slide-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.catalog-slide-text {
  font-size: 18px;
  color: var(--basic-white);
}

.button {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

/*-----------------------POPULAR GOODS-----------------------*/

.tape-description {
  background-color: var(--background-beige);
}

.popular-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkblue);
}

.card {
  border: 1px solid var(--border-grey-card);
}

.cart-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--button-green);
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 0 var(--button-green-shadow);
}

.cart-button::before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  opacity: 0.3;
  vertical-align: middle;
  margin-right: 7px;
}

.cart-button:hover {
  background-color: var(--hover-green);
}

.cart-button:active {
  background-color: var(--active-green);
}

.bookmarker-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-darkblue);
  background-color: transparent;
  border: 3px solid var(--button-green);
  border-radius: 2px;
}

.bookmarker-button:hover {
  border: 3px solid var(--basic-darkblue);
}

.bookmarker-button:active {
  border: 3px solid var(--basic-darkblue);
  opacity: 0.3;
}

.product-name-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.product-name-uppercase {
  text-transform: uppercase;
}

.price-old {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
}

.price-new {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/*-----------------------CATALOG START-----------------------*/
/*------------breadcrumbs---------------*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-size: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: var(--basic-black);
}

.catalog-title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue);
  background-color: var(--basic-white-blue);
}

/*----------------FILTER---------------*/
.filter-text {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  background-color: var(--background-filter);
}

.fieldset {
  border: none;
}

.filter-legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
}

.price-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--background-filter);
  border: none;
}

.price-input::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}

.price-input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.price-input::-webkit-input-placeholder {
  color: var(--basic-black);
}

.price-input::-ms-input-placeholder {
  color: var(--basic-black);
}

.price-input::-moz-placeholder {
  color: var(--basic-black);
}

.filter-list {
  list-style: none;
}

.filter-label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-submit {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--border-grey-button);
}

/*--------------GOOODS-CATALOG------------------*/
.sorting-row {
  background-color: var(--background-filter);
}

.sorting-list {
  list-style: none;
}

.sorting-label {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-label:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.sorting-radio-button:checked + .sorting-label {
  color: var(--basic-red);
  border-bottom: none;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
  color: inherit;
  border: 1px solid var(--border-grey-button);
  border-radius: 2px;
  text-transform: uppercase;
}

.pagination-link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

.pagination-link-current {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
}

/*----------------------BENEFITS----------------------------*/

.section-benefits {
  background-color: var(--basic-white-blue);
}

/*-----------------------CATALOG FINISH-----------------------*/

/*-----------------------POPULAR PRODUCERS-----------------------*/

.producers-list {
  list-style: none;
}

.producer-link {
  border: 1px solid var(--border-grey-card);
}

/*-----------------------SERVICES-----------------------*/

.section-services {
  background-color: var(--basic-white-blue);
}

.title {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-ptsans {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-radio-list {
  list-style: none;
}

.service-radio-button {
  display: none;
}

.service-label {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-darkblue);
}

.service-label:hover {
  background-color: var(--background-dark);
}

.service-radio-button:checked + .service-label {
  background-color: white;
  color: var(--basic-darkblue);
}

.service-subtitle {
  font-weight: inherit;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue);
}

/*-----------------------CONTACTS-----------------------*/

.companies-list {
  list-style: none;
}

.company-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-image: url("../img/list-style-red.svg");
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 12px;
}

/*-----------------------FOOTER-----------------------*/

.footer {
  background-color: var(--basic-darkblue);
}

.footer-wide-background {
  font-size: 18px;
}

.footer-contacts {
  color: var(--footer-address);
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-link-top {
  color: var(--basic-white-blue);
}

.footer-nav-link-bottom {
  color: var(--footer-yellow);
}

.footer-nav-link-top:hover,
.footer-nav-link-bottom:hover {
  text-decoration: underline;
}

.footer-nav-link-top:active,
.footer-nav-link-bottom:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-narrow-background {
  background-color: var(--background-dark);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-socials-list {
  list-style: none;
}

.social-link {
  color: var(--basic-white);
}

.footer-site-link {
  color: var(--footer-yellow);
}

.footer-site-link:hover {
  text-decoration: underline;
}

.footer-site-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/*-----------------------MODAL-----------------------*/

.modal-label {
  font-size: 18px;
}

.modal-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid var(--basic-greylight);
}

.modal-textarea-message {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid var(--basic-greylight);
  resize: none;
}

.modal-input::-webkit-input-placeholder {
  color: var(--basic-grey);
}

.modal-input::-moz-placeholder {
  color: var(--basic-grey);
}

.modal-input::-ms-input-placeholde {
  color: var(--basic-grey);
}

.modal-textarea-message::-webkit-input-placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::-moz-placeholder {
  color: var(--basic-grey);
}

.modal-textarea-message::-ms-input-placeholder {
  color: var(--basic-grey);
}

.modal-narrow-background {
  background-color: var(--background-modal-beige);
}

.text-product-added {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text-product-added::before {
  content: "";
  height: 66px;
  width: 66px;
  display: inline-block;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 5px;
}

.modal-continue-button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
}
